.idea/
.venv/
.vscode/
**/local/
**/logs/
**/python*/
**/report_files/
**/*.csv
**/*.pyc
.history/
**/*.log
**/__pycache__/
**/package-lock.json
.editorconfig
**/*.code-workspace
**/*.ipynb
**/tokens/
**/*.iml
*.json
dist/
